:root {
    --canvas-top: 69px;
    --canvas-left: 75px;
}
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #54534D;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.game-container {
    background-image: url("images/background.svg");
    width: 924px;
    height: 708px;
    position: relative;
}
canvas {
    background-color: #9DA6A4;
    position: absolute;
    top: var(--canvas-top);
    left: var(--canvas-left);
    z-index: 1;
}
#game-overlay {
    position: absolute;
    top: var(--canvas-top);
    left: var(--canvas-left);
    width: 760px;
    height: 460px;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.control-container {
    position: absolute;
    top: 550px;
    left: var(--canvas-left);
    display: flex;
    height: auto;
    width: 760px;
    flex-wrap: nowrap;
}
.score-count {
    color: #9DA6A4;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 16px;
}
.score-color {
    color: rgb(0,255,0);
}
.column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.name-container {
    align-items: center;
    padding-top: 16px;
    gap: 24px;
    flex: 1.5;
}
.arrow-keys-container {
    display: flex;
    flex: 1;
}
.arrow-keys {
    justify-content: center;
    padding-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 45px);
    grid-template-rows: repeat(2, 45px);
    gap: 0;
}